body {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 18px;
}

header { 
    height: 80px;
    width: 100%;
    background-color: rgb(44, 44, 44);
    text-align: center;
    color: rgb(224, 224, 223);
    line-height: 80px;
    font-size: 40px;
    font-weight: 600;
}

.pure-u-1-4 {
    height: 530px;
    background-color: #eee;
}

form {
    padding: 10px;
    padding-bottom: 20px;
}

.cityChoice {
    margin-bottom: 40px;
}

label {
    font-weight: bold;
    font-size: 18px;
}

input {
    display: flex;
    width: calc(100% - 21.2px);
    margin-top: 10px;
}

button {
    text-align: center;
    margin-top: 10px;
    position: relative;
    height: 34px;
    line-height: 32px;
}

.fas {
    left: 10px;
    bottom: 10px;
    position: absolute;
} 

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 4px;
}

tbody {
    border-radius: 4px;
}

tr {
    background-color: white;
    height: 48px;
}

td:hover{
    font-weight: bolder;
}

.pure-u-3-4 {
    margin: auto;
}

.todayResult {
    height: 263px;
    margin:10px;
    margin-top: 0;
    margin-left: 15px;
    margin-bottom: 20px;
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: #ccc;
}

#currentDay  {
    display: flex;
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px;
    line-height: 50px;
    height:50px;
}

.currentIcon {
    color-adjust: 200%;
    filter:drop-shadow(2px 4px 1px gray);
}

img {
    height: 50px;
}

#weatherData {
    margin-top: 5px;
    margin-left:15px;
    line-height: 36px;
}

ul {
    margin-top: 0;
    list-style: none;
}

li {
    margin-top: 5px;
}

.UVcolor {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 4px;
    color: black;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}
.label5Day {
    margin: 20px;
    margin-left: 15px;
    font-size: 22px;
}

.fiveDayForecast {
    height: 178px;
}

.forecastBox {
    background-color: rgb(15, 116, 240);
    height: 108%;
    width: 16%;
    border-radius: 4px;
    margin: 5px;
    margin-left: 15px;
    margin-bottom: 0;
    color: rgb(224, 224, 223);
    text-align: justify;
    line-height: 38px;
}

.forecast {
    margin: 20px;
    margin-top: 10px;
    font-weight: 400;
    color: white;
    font-size: 16px;


}

.nextDay {
    font-weight: bold;
    font-size: 20px;
}

.hide {
    display: none;
}

@media only screen and (max-width: 1313px) {
    .forecastBox {
            width: 25%;
            margin-bottom: 10px;
    }
  }

@media only screen and (max-width: 840px) {
    .forecastBox {
            width: 35%;
    }
}

@media only screen and (max-width: 572px) {
    .forecastBox {
            width: 45%;
    }

    table {
        order: unset;
    }
}

@media only screen and (max-width: 411px) {
    header {
        font-size: 30px;
    }
}



